<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801970627960-0q5457eeh84phnftlcjpen8j8d6rqqoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801970627960-0q5457eeh84phnftlcjpen8j8d6rqqoc</string>
	<key>API_KEY</key>
	<string>AIzaSyCkm-K9Oz6dqkFS8hlPXG6atIXratU1AHY</string>
	<key>GCM_SENDER_ID</key>
	<string>801970627960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbuquet.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-d9795</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-d9795.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801970627960:ios:3be3f46e5c45a0836a148d</string>
</dict>
</plist>